<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Heroes list</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<h1 class='display-1' th:text="${heroes_list_welcome_message}"/>
<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">name</th>
        <th scope="col">type</th>
        <th scope="col">attack</th>
        <th scope="col">life</th>
    </tr>
    </thead>
    <tr th:each="hero: ${heroes_list}">
        <td th:text="${hero.nom}"></td>
        <td th:text="${hero.type}"></td>
        <td th:text="${hero.force_attaque}"></td>
        <td th:text="${hero.point_de_vie}"></td>
    </tr>

</table>

</body>
</html>