<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weapon</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div class="mb-3 "
     style=" flex-direction: column; margin: 2rem auto; width: 1000px; border:solid 1px; border-radius: 15px ;display: flex; justify-content: center; align-items: center">
    <h1 style="margin-top: 2rem" th:text="'Oh, la belle prise.'"/>
    <p th:text="'Vous avez fait ' + ${dado}+' et êtes sur la case '+${position}+'.'"/>
    <p th:text="'Il y a une arme par terre ! Cest un '  + ${actual_cell.type}"> </p>

    <p th:text="'Vie du héros : '  + ${life}"> </p>

    <a style="margin: 2rem 0" class="btn btn-large btn-success" th:href="@{game}">Prendre l'arme et jeter les dés</a>
    <a style="margin: 2rem 0" class="btn btn-large btn-warning" th:href="@{home}">Retour au menu</a>
</div>

</body>
</html>